/*general layout*/
*{
    margin: 0px;
}
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 0 .5em;
}
h2,h4,h5{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h5{
    font-size: 1.25em;
}
a{
    text-decoration: none;
}
.container {
    max-width: 930px;
    padding-top: .3em;
    padding-right: calc(2em + 8px);
    padding-left: calc(2em + 8px);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 960px){
    .container {
    max-width: 960px;
    }
}
@media (max-width: 959px){
    .container {
    max-width: 720px;
    padding-right: calc(1.5em + 8px);
    padding-left: calc(1.5em + 8px);
    }
}
@media (max-width: 760px){
    .container {
    max-width: 540px;
    padding-right: calc(.5em + 8px);
    padding-left: calc(.5em + 8px);
    }
}
.btn{
    border-radius: 0.25em;
    padding: 6px 12px;
    color: #fff;
}
.btn{
    background-color: #007bff;
}
.btn:hover{
    background-color: #005bbd;
}
a.btn{
    padding: 10px 12px;
}
.row{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
}
/*variables*/
:root{
    --bgcolor: #ffc107;
}
/*header layout*/
header{
    background-color: var(--bgcolor);
    padding: 0;
    box-sizing: border-box;
    color: white;
}
header a.btn{
    border: 1px solid white;
}
header a.btn{
    color: white;
    opacity: 1;
}
header a.btn:hover{
    background-color: white;
}
header a.btn:hover{
    color: #000;
}
@media (max-width: 760px){
    header{
        padding-bottom: 1em;
    }
}
/*logo*/
.brand img{
    width: 142px;
}
@media (max-width:860px){
    .brand img{
        width: 132px;
    }
}
@media (max-width:760px){
    .brand img{
        width: 116px;
        z-index: 1;
    }
}
/*Nav layout*/
nav{
    padding: 0.5em 0;
    background-color: transparent;
    
}
.active{
    opacity: 1;
}
nav ul a{
    color: black;
    text-decoration: none;
    opacity: 0.6;
}
nav ul li a:hover{
    opacity: 1;
}
nav .btn{
    background-color: transparent;
}
/*Nav Resposive*/
.menucheck{
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    width: 1.5em;
    height: 1.25em;
    line-height: 1.18em;
    text-align: center;
    font-size: 1.80em;
    cursor: pointer;
    display: none;
}
input#menu{
    display: none;
}
@media (max-width:760px){
    .menucheck{
        display: block;
        z-index: 1;
    }
    nav .colapse-menu ul{
        width: 100%;
        left: 0;
        padding-left: 0;
        background-color: var(--bgcolor);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        z-index: 0;
        display: none;
    }
    nav .colapse-menu{
        width: 100%;
    }
    nav ul li{
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    nav ul li a{
        display: block;
        padding: 0.5em 0;
    }
    nav .btn{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        box-sizing: border-box;
    }
    #menu:checked ~ div.colapse-menu{
        display: block;
        transition: all 1s;
    }
    #menu:checked ~ div.colapse-menu ul{
        display: block;
    }
}
/*Home layout*/
.home{
    background-color: var(--bgcolor);
}
.home-img img{
    margin: -5px;
}
.home-img{
    width: 50%;
    align-items: center;
}
.home-text{
    width: 100%;
}
.home-text a.btn {
    background-color: transparent;
    margin-left: 4px;
}
/*Fixing icon spacing*/
.btn-fix{
    padding: .5em .5em;
}
.icon-fix{
    padding-left: .25em;
}  
/*-*/
h1.display-header{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
/*Home forms*/
header form{
    margin: 1.5em 0;
    color: #f8f9fa;
    width: 100%;
}
header .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: .3em;
    line-height: 2em;
}
header .input-group .form-control{
    height: calc(1.25em + 2px);
    flex: 1 1 auto;
    width: 1%;
    padding: .5em 1em;
    font-size: 1.25em;
    line-height: 1.5;
    border-radius: .3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    overflow: visible;
    z-index: 1;
}
header .input-group .input-group-append{
    display: flex;
    border: none;
    width: 8.6em;
    z-index: 2;
}
header .input-group .input-group-append button.btn{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: visible;
    color: #fff;
    border: none;
}
/*Header content Responsive*/
@media (min-width: 960px){
    .text-container{
        width: 50%;
    }
    .home-img{
        width: 50%;
    }
    /*Fixing icon spacing*/
    .btn-fix{
        padding: .35em .5em;
    }
    .icon-fix{
        padding-left: .15em;
    }
}
@media (max-width: 959px){
    .text-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .home-img{
        text-align: center;
        width: 100%;
    }
    /*Fixing icon spacing*/
    .btn-fix{
        padding: .37em .5em;
    }
    .icon-fix{
        padding-left: .15em;
    } 
}
@media (max-width: 760px){
    .home-img{
        display: none;
    }
    /*Fixing icon spacing*/
    .btn-fix{
        padding: .39em .5em;
    }
    .icon-fix{
        padding-left: .15em;
    } 
}
/*Main Content General layout*/
main h2 {
    font-size: 2rem;
  }
main h4{
    font-size: 1.5em;
}
main p{
    margin-top: 0;
    margin-bottom: 1rem;
}
main section{
    display: flex;
    padding: 60px 0px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}
div.img-section{
    padding: 0 1em;
}
main section img{
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
}
div.img-section{
    padding: 0 1em;
    box-sizing: border-box;
    display: flex;
    width: 50%;
}
div.text-section{
    width: 50%;
}
/*Main Content General layout RESPONSIVE*/
@media (max-width: 760px){
    section{
        flex-direction: column;
    }
    div.img-section{
        margin: 1em 0;
    }
}
/*Info row section*/
section.info-row div.info-box div.img-section,section.info-row div.info-box div.text-section{
    width: 100%;
}
.info-box{
    padding: 0 1em;
}
/*footer*/
footer{
    padding: 1em 0;
    margin: 1em 0;
    align-items: center;
}
footer a{
    color: #007bff;
}
footer a:hover{
    color: #005bbd;
    text-decoration: underline;
}
footer li{
    padding: 1em;
}
footer ul{
    padding-left: 0;
}
footer div.credits-section{
    justify-self: flex-end;
    
}