/*general layout*/
*{
    margin: 0px;
}
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.container {
    max-width: 930px;
    padding-right: 1.75em;
    padding-left: 1.75em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 992px){
    .container {
    max-width: 960px;
    }
}
@media (max-width: 769px){
    .container {
    max-width: 720px;
    }
}
@media (max-width: 578px){
    .container {
    max-width: 540px;
    }
}
.btn{
    border-radius: 0.25em;
    padding: 6px 12px;
}
/*variables*/
:root{
    --bgcolor: #ffc107;
}
/*header layout*/
header{
    background-color: var(--bgcolor);
    padding: 0;
    box-sizing: border-box;
}
.brand img{
    width: 142px;
}
@media (max-width:769px){
    .brand img{
        width: 132px;
    }
}
@media (max-width:578px){
    .brand img{
        width: 116px;
        z-index: 1;
    }
}
/*Nav layout*/
nav{
    padding: 0.5em 1em;
    background-color: transparent;
}
.active{
    opacity: 1;
}
nav ul a{
    color: black;
    text-decoration: none;
    opacity: 0.6;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 .5em;
    
}
nav ul li a:hover{
    opacity: 1;
}
nav a.btn{
    border: 1px solid white;
}
nav li a.btn{
    color: white;
    opacity: 1;
}
nav a.btn:hover{
    background-color: white;
}
nav li a.btn:hover{
    color: #000;
}
/*Nav Resposive*/
.menucheck{
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    width: 1.5em;
    height: 1.25em;
    line-height: 1.18em;
    text-align: center;
    font-size: 1.80em;
    cursor: pointer;
    display: none;
}
input#menu{
    display: none;
}
@media (max-width:578px){
    .menucheck{
        display: block;
        z-index: 1;
    }
    nav ul{
        position: fixed;
        width: 100%;
        top: -200px;
        left: 0;
        padding-left: 0;
        background-color: var(--bgcolor);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        transition: all 0.5s;
        z-index: 0;
    }
    nav ul li{
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
    nav ul li a{
        display: block;
        padding: 0.5em 0;
    }
    .btn{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        box-sizing: border-box;
    }
    #menu:checked ~ ul{
        top: 54px;
    }
}